@font-face {
  font-family: "Mcdonalds";
  font-weight: 200;
  src: url("/fonts/Speedee-Bold.ttf") format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");

body {

  margin: 0;
}
